@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
  }

  body {
    position: relative;
  }
}

.bg-white\/90 {
  background-color: rgba(255, 255, 255, 0.9);
}

.backdrop-blur-sm {
  backdrop-filter: blur(4px);
}

@layer utilities {
  .text-\[\#3731cc\] {
    color: #3731cc;
  }

  .text-orange-400 {
    color: #fb923c;
  }
}


